.Form {
  overflow-x: hidden;
  padding: 10px;
  width: calc(100% - 20px);
}

.Document {
  h2, h3 {
    text-align: center;
    margin: 5px 0;
  }

  table.bordered {
    border: solid 1px;
    border-collapse: collapse;
    width: 100%;

    td {
      border: solid 1px;
    }
  }

  td {
    padding: 2px 3px;
  }
}

